#container{
/*	display: inline-block;*/
/*	position: relative;*/
	/*padding: auto; */
	text-align:center;
}

.son { 
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	background-color: black;
	width: 40px;
	height: 200px;
}
 

h1 {
	text-align: center;
	font-family: georgia;
	font-size: 3.5em;

}
